/* Styles go here */

.token {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: inline-block;
}


.size-200 {
  height: 200px;
}

.card-hover:hover {
  background-color: rgba(249, 49, 84, 0.34);

}

.scroll {
  overflow-y: scroll;
  height:400px;
  alignment: right;
}
